amqp==2.5.0
anyjson==0.3.3
asn1crypto==0.24.0
astropy==3.2.1
astroquery==0.3.10.dev5696
beautifulsoup4==4.7.1
billiard==3.6.0.0
bleach==3.1.0
cadcutils==1.1.20
celery==4.3.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
click==5.1
compass-stylesheets==0.12.6
cryptography==2.7
cycler==0.10.0
distro==1.4.0
Django==2.2.3
django-appconf==1.0.3
django-celery-results==1.1.2
django-countries==5.5
django-git-submodules==1.1.1
django-ipware==2.1.0
django-markdownify==0.8.0
django-markdownx==2.0.28
django-mustache==1.1.1
django-settings-export==1.2.1
django-tracking-analyzer==1.0.1
django-user-agents==0.4.0
djangorestframework==3.9.4
entrypoints==0.3
enum34==1.1.6
FormEncode==1.3.1
future==0.17.1
geoip2==2.9.0
html-json-forms==1.1.0
html2text==2018.1.9
html5lib==1.0.1
idna==2.8
jeepney==0.4
jsonpickle==1.2
keyring==19.0.2
kiwisolver==1.1.0
kombu==4.6.3
linecache2==1.0.0
lxml==4.3.4
Markdown==3.1.1
matplotlib==3.1.1
maxminddb==1.5.1
mimeparse==0.1.3
montage-wrapper==0.9.9
natural-keys==1.5.0.post2
numpy==1.16.4
pickle-mixin==1.0.2
Pillow==6.1.0
pkg-resources==0.0.0
psycopg2-binary==2.8.3
py-mini-racer==0.1.18
PyBabeljs==0.0.8
pycparser==2.19
pyOpenSSL==19.0.0
pyparsing==2.4.0
pypng==0.0.20
pyScss==1.3.5
pystache==0.5.4
python-dateutil==2.8.0
pytz==2019.1
pyvo==0.9.3
pyxform==0.14.1
PyYAML==5.1.1
redis==3.3.4
requests==2.11.1
requirejs==0.2.1
scipy==1.5.4
SecretStorage==3.1.1
six==1.12.0
soupsieve==1.9.2
sqlparse==0.3.0
timestring==1.6.4
traceback2==1.4.0
ua-parser==0.8.0
unicodecsv==0.14.1
unittest2==1.1.0
urllib3==1.25.3
user-agents==2.0
vine==1.3.0
vos==3.0.14
webencodings==0.5.1
wq==1.1.0
wq.app==1.1.2
wq.core==1.1.0
wq.db==1.1.3
wq.io==1.1.0
wq.start==1.1.1
xlrd==1.2.0
xlsconv==1.1.0
